{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",// for using new class syntax no constructor, 
    // and can use arrow function. No need to bind this 
    "@babel/plugin-proposal-object-rest-spread"
    ] 
}